@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    transition: 0.8s ease all;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;

}
h1{
    text-transform: uppercase;
    font-size: 2.9rem;
}
body{
    background: linear-gradient(45deg, #ffeb3b7d, #b027a096);
}
.navbar{
    width: 100%;
    max-height: 10vh;
    overflow: hidden;
    background-color:#ef5f5fcc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;


}
.lists{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    font-weight: bold;
    padding-left: 5rem;
    padding-right: 5rem;
    padding: 10px;
    overflow: hidden;

}
.navbar .lists a img{
    width: 1.8rem;
}

/* -------main container------- */
.container{
    /* border: 2px solid black; */
    height: 200vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 2%;
}

/* top side----- */
.top{
    height: 40%;
    display: flex;
    flex-wrap: wrap-reverse;
}
.left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    padding-left: 5%;
    gap: 10%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.right{
    /* border: 1px solid yellow; */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.bg-1{
    width: 90%;
    height: 70%;
}

button{
    width: 12rem;
    height: 3rem;
    background-color: #ef5f5fcc;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
}
/* bottom side ------  */

.bottom{
    height: 40%;
    width: 100%;
    display:flex;
    /* justify-content: center;
    align-items: center; */
    gap: 1rem;
    /* border: 1px solid yellow; */
}
.bleft{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    /* border: 1px solid red; */
    width: 50%;
    margin-left: 10%;
}
.l1{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 2%;

}
.limg-1{
    height: 45%;
    width: 100%;
    padding: 10px;
}
.l2{
    height: 100%;
}
.l2 img{
    height: 92%;
    width: 100%;
    padding: 10px;
}
.bright{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* border: 1px solid rgb(219, 50, 50);   */
    width: 73%;
}
.banner{
    height: 50%;
    width: 60%;
    display: flex;
    flex-direction: column;
    background-color:#ef5f5fcc;
    justify-content: center;
    gap: 5%;
    padding-left: 3%;
}
.banner h1{
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.banner button{
    width: 5rem;
    background-color: transparent;
    color: black;
    font-size: large;
}
.btn-g{
    display: flex;
    justify-content: baseline;
    align-items: center;
}






/* -------------------------------------------------------------- */
/* Media query for phones */
@media only screen and (max-width: 600px) {
    .container{
        min-height: 400vh;
    }
    .navbar{
        width: 100%;
        min-height: 30vh;
        background-color:#ff1e179c;
        display: flex;
        flex-direction: column;
    
    }
    .items{
        font-size: small;
    }
    .lists {
      height: 100%;
      flex-direction: column;
      gap: 0.11rem;
    }
    .lists li{
        /* background-color: #fff; */
        /* margin: 10px; */
        color: #e6d0d0;
    }
    .img1{
        display: none;
    }
    
    .top{
        width: 100%;
       flex-direction: column-reverse;
       justify-content: center;
       align-items: center;
    }
    .left,.right{
        /* border: 1px solid yellow; */
        height: 40%;
        width: 90%;
        
    }
    h1{
        font-size: 1.9rem;
    }
    button{
        height: 3rem;
    }
    .bottom{
    width: 100%;
    flex-direction: column-reverse;
    /* border: 1px solid rgb(31, 148, 16); */
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
.bleft,b.right{
    width: 80%;
    height: 40%;
    margin-left: 0%;
}
.banner{
    height: 30%;
    width: 100%;
    gap: 5%;
    padding-left: 3%;
}
}

/* Media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .container{
        min-height: 250vh;
        gap: 2%;
    }
    .img1{
        display: none;
    }
    .items{
        font-size: small;
    }
    .lists {
        padding-left: 1rem;
        padding-right: 1rem;
        color: #fff;
    }
    h1{
        font-size:2rem;
    }
    .bg-1{
        width: 80%;
        height: 70%;
        background-size: cover;
    }
    .bottom{
        height: 75%;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        flex-direction: column;
    }
    .banner{
        height: 40%;
        width: 100%;
        gap: 5%;
        /* padding-left: 3%; */
    }
    .bleft{
        width: 50%;
        height: 50%;
        margin: auto;
    }
    .bg-1{
        width:80%;
        height: 40%;
    }
}
