@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  transition: 0.3s ease-in-out all;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  text-decoration: none;
}
h1 {
  text-transform: uppercase;
  font-size: 2.9rem;
}
body {
  background: linear-gradient(-53deg, #ffa3ef96, #fff0627d);
}
.navbar {
  width: 100%;
  max-height: 10vh;
  overflow: hidden;
  background-color: #ef5f5fcc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.lists {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: large;
  font-weight: bold;
  padding-left: 5rem;
  padding-right: 5rem;
  padding: 10px;
  overflow: hidden;
}
.navbar .lists a img {
  width: 1.8rem;
}
.items a {
  color: black;
}
.items a:hover {
  cursor: pointer;
  color: red;
}

/* -------main container------- */
.container {
  /* border: 2px solid black; */
  height: 200vh;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  gap: 2%;
  font-family: "Poppins", sans-serif;
}

/* top side----- */
.top {
  height: 50%;
  display: flex;
  flex-wrap: wrap-reverse;
}
.left {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  padding-left: 5%;
  gap: 10%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
}
h1{
    letter-spacing: 5px;
}
.right {
  /* border: 1px solid blue; */
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bg-1 {
  width: 100%;
  height: 100%;
}

button {
  width: 12rem;
  height: 3rem;
  background-color: #ef5f5fcc;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
}
/* bottom side ------  */

.bottom {
  height: 40%;
  width: 100%;
  display: flex;
  gap: 0.11rem;
  /* border: 1px solid black; */
  margin: auto;
  justify-content: space-around;
  align-items: center;
}
.bleft {
  display: flex;
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */
}
.lbanner {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.l1 {
  height: 80%;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2%;
  /* border: 1px solid black; */
}
.limg-1 {
  height: 45%;
  width: 100%;
  padding: 10px;
}
.l2 {
  height: 80%;
  /* border: 1px solid black; */
}
.l2 img {
  height: 92%;
  width: 100%;
  padding: 10px;
}
.bright {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  /* border: 1px solid green; */
}
.banner {
  /* border: 1px solid black; */
  height: 45%;
  width: 70%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  background-color: #ef5f5fcc;
  justify-content: center;
  padding-left: 3%;
}
.banner h1 {
  font-size: 2rem;
  letter-spacing: 5px;
  word-spacing: 0px;
}
.btn-g {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
#arrow {
}
.banner button {
  width: 2.5rem;
  background-color: transparent;
  color: black;
  font-size: small;
}

/* -------------------------------------------------------------- */
/* Media query for phones */
@media only screen and (max-width: 600px) {
  .container {
    min-height: 400vh;
  }
  .navbar {
    width: 100%;
    min-height: 25vh;
    background-color: #ff1e179c;
    display: flex;
    flex-direction: column;
  }
  .items {
    font-size: small;
  }
  .lists {
    height: 100%;
    flex-direction: column;
    gap: 0.11rem;
  }
  .lists li {
    color: #e6d0d0;
  }
  .img1 {
    display: none;
  }
  .top {
    
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .left,
  .right {
    height: 40%;
    width: 90%;
  }
  h1 {
    font-size: 1.9rem;
  }
  button {
    height: 3rem;
  }
  .bottom {
    width: 100%;
    flex-direction: column-reverse;
    /* border: 1px solid rgb(31, 148, 16); */
    justify-content: space-around;
    align-items: center;
    margin: 0;
  }
  /* ----------------------- */
  .bleft {
    display: flex;
    width: 100%;
    height: 45%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .bright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    /* border: 1px solid green; */
  }
  .bg-1 {
    width: 90%;
    height: 58%;
}
  .banner {
    height: 30%;
    width: 60%;
}
  .lbanner {
    height: 70%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1 {
    font-size: 1rem;
    letter-spacing: 1px;
  }

}

/* Media query for tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .container {
    min-height: 250vh;
    gap: 2%;
    margin-top: 5%;
  }
  .top{
    min-height: 25%;
  }
  .bottom{
    height: 45%;
  }
  .img1 {
    display: none;
  }
  .items {
    font-size: small;
  }
  .lists {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #fff;
  }
  h1 {
    font-size: 2rem;
  }
  .bg-1 {
    width: 95%;
    height: 50%;
}
  .bottom {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .banner {
    height: 60%;
    width: 100%;
    gap: 1%;
}
  .bleft {
    width: 50%;
    height: 50%;
    margin: auto;
  }
  .bg-1 {
    width: 80%;
    height: 40%;
  }
  .lbanner {
    height: 84%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1 {
    font-size: 1.2rem;
    letter-spacing: 2px;
  }

}


/* Large screens (desktops) */
/* @media only screen and (min-width: 1025px) {

} */
